body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    //i dont know why file-loader didn't i can see the image when i use the image in my images file, so that i use link
    background-image: linear-gradient(#ffffff90,#ffffff90 ),url("https://data.europa.eu/sites/default/files/news/2020-08-06-edp_book_club.png");
    background-size: cover;
    background-position: center;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 25px auto;
}
